
<div class="well comment">
    <header>Posted by: {{comment.user.email}} at {{comment.created_at}}</header>
    <main>{{comment.content}}</main>
</div>

<div class="well comment" data-id={{comment.id}}>
    <header class="comment-data">Posted by: you at {{comment.created_at}} - <a class="edit-comment">Edit</a> - <a class="delete-comment">Delete</a>
      <span class="delete-confirm hidden">Are you sure you want to delete this comment? <a class="delete-comment-yes" data-id={{comment.id}}>Yes</a> | <a class="delete-comment-no">No</a></span>
    </header>
    <main class="comment-content">{{comment.content}}</main>
</div>

{{}}
