<h2>{{pokemon.capname}}</h2>

<img src={{pokemon.image}}>

<ul>
  <!-- {{#each pokemon.items as |item|}}
    {{pokedexter-entry/item item=item}}
  {{/each}} -->
  <li>
    <span class="{{pokemon.type1}}-type">{{pokemon.typeone}}</span>
    <span class="{{pokemon.type2}}-type">{{pokemon.typetwo}}</span>
  </li>
  <li>HP: {{pokemon.hp}}</li>
  <li>Attack: {{pokemon.attack}}</li>
  <li>Defense: {{pokemon.defense}}</li>
  <li>Special Attack: {{pokemon.spatk}}</li>
  <li>Special Defense: {{pokemon.spdef}}</li>
  <li>Speed: {{pokemon.speed}}</li>
  <div class="chart-container">
    {{horizontal-bar-chart data=chartData}}
  </div>
</ul>

<!-- {{pokedexter-entry pokemon=pokemon submit="addPokemon"}} -->
