{{pokedexter-entry/entry pokemon=pokemon}}

<!-- <h2>{{pokemon.capname}}</h2>
<img src={{pokemon.image}} class="poke-img">
<span class="{{pokemon.type1}}-type">{{pokemon.typeone}}</span>
<span class="{{pokemon.type2}}-type">{{pokemon.typetwo}}</span> -->

<div class="chart-container">
  {{horizontal-bar-chart data=pokemon.stats}}
</div>
