<p>hi</p>
{{#link-to 'pokemon' pokemon}}
  <h5>{{pokemon.capname}}</h5>
  <img src={{pokemon.image}} class="poke-img">
  <span class="entry-type {{pokemon.type1}}-type">{{pokemon.typeone}}</span>
  <span class="entry-type {{pokemon.type2}}-type">{{pokemon.typetwo}}</span>
{{/link-to}}
