<!-- {{pokemon pokemon=pokemon chartData=pokemon.stats}} -->
{{#link-to 'pokemon' pokemon}}
  <h5>{{pokemon.capname}}</h5>
  <img src={{pokemon.image}} class="poke-img">
  <span class="entry-type {{pokemon.type1}}-type">{{pokemon.typeone}}</span>
  <span class="entry-type {{pokemon.type2}}-type">{{pokemon.typetwo}}</span>
{{/link-to}}

  <!-- <li>HP: {{pokemon.hp}}</li>
  <li>Attack: {{pokemon.attack}}</li>
  <li>Defense: {{pokemon.defense}}</li>
  <li>Special Attack: {{pokemon.spatk}}</li>
  <li>Special Defense: {{pokemon.spdef}}</li>
  <li>Speed: {{pokemon.speed}}</li> -->
