
<h3>{{pokemon.capname}}</h3>

<img src={{pokemon.image}} class="poke-img">

  <h4>
    <span class="{{pokemon.type1}}-type">{{pokemon.typeone}}</span>
    <span class="{{pokemon.type2}}-type">{{pokemon.typetwo}}</span>
  </h4>

  <!-- {{#link-to 'pokedexter-entry.entry.stats' pokemon.stats}}
    <h5>display stats</h5>
  {{/link-to}} -->
  <div class="chart-container">
    {{horizontal-bar-chart data=chartData}}
  </div>
