
<!-- <h3>{{pokemon.capname}}</h3> -->

<img src={{pokemon.image}} class="poke-img">

<span class="entry-type">
    <span class="{{pokemon.type1}}-type">{{pokemon.typeone}}</span>
    <span class="{{pokemon.type2}}-type">{{pokemon.typetwo}}</span>
</span>
  <!-- {{#link-to 'pokedexter-entry.entry.stats' pokemon.stats}}
    <h5>display stats</h5>
  {{/link-to}} -->
  <div class="chart-container hidden">
    {{horizontal-bar-chart data=chartData}}
  </div>



  <!-- <li>HP: {{pokemon.hp}}</li>
  <li>Attack: {{pokemon.attack}}</li>
  <li>Defense: {{pokemon.defense}}</li>
  <li>Special Attack: {{pokemon.spatk}}</li>
  <li>Special Defense: {{pokemon.spdef}}</li>
  <li>Speed: {{pokemon.speed}}</li> -->
